# Titanic data preprocessing
## Kamil Misiak

W tym sprawozdaniu porusze temat czyszczenie i przygotowania danych do analizy.

### Krok 1: Za≈Çadowanie zbioru danych

In [4]:
import pandas as pd
import numpy as np

data = pd.read_table('./data/TitanicMess.tsv', sep='\t', header=0)
print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3
891         1000         1       1

                                                  Name     Sex  Age  SibSp  \
0                              Braund, Mr. Owen Harris    male   22      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
2                               Heikkinen, Miss. Laina  female   26      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1
4                             Allen, Mr. William Henry    male   35      0
..                                                 ...     ...  ...    ...
887                       Graham, Miss. Margaret Edith  female   19      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  NaN      1
889                              Behr, Mr. Karl Howell    male   26      0
890                                Dooley, Mr. Patrick    male   32      0
891                        Mr. Frederick Maxfield Hoyt    male   38      1

     Parch            Ticket     Fare Cabin Embarked     ship
0        0         A/5 21171     7,25   NaN        S  Titanic
1        0          PC 17599  71,2833   C85        C  Titanic
2        0  STON/O2. 3101282    7,925   NaN        S  Titanic
3        0            113803     53,1  C123        S  Titanic
4        0            373450     8,05   NaN        S  Titanic
..     ...               ...      ...   ...      ...      ...
887      0            112053       30   B42        S  Titanic
888      2        W./C. 6607    23,45   NaN        S  Titanic
889      0            111369       30  C148        C  Titanic
890      0            370376     7,75   NaN        Q  Titanic
891      0             19943       90   C93        S  Titanic

[892 rows x 13 columns]